/build/
/bin/
/.classpath
/.settings
/.gradle
/.project
/.idea
/src/main/resources/rebel.xml
/*.iml
/*.ipr
/*.iws
/*/*.iml
/*/*.ipr
/*/*.iws
/out/
/*/out/
/tap-app.log*
/tap-mgmt.log*
/tap-service.log*
/TODO
*.class
*.classpath
*.project
*.settings
bin/
build/
logs/
heroku-test/